.dsh_panel_size{width:250px;}
.dsh_panel_hst_size{width:220px;}
.dsh_panel_tsk_size{width:180px;}
.dsh_panel_tsk_fnt_size{font-family: Arial,sans-serif;font-size: 0.7em;}
.tbl_story_fnt_size{font-family: Arial,sans-serif;font-size: 0.9em;}